body {
    font: 400 15px Lato, sans-serif !important;
    line-height: 1.8;
    color: #dadada;
    background-color: #dbe4e9;
}

h1{
    margin-left: 20%;
    margin-bottom: 5%;
    border-bottom: blue;
}

.c-info{
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 4%;
    height: 100%;

}

.right-col{
    background-color: rgba(24, 97, 139, 0.46);
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 2%;
    margin-right: 0%;
    border-radius: 12px;
}
.c-info h1{
    font-family: Lato, sans-serif;
    font-size: 38px;
    color: white;
    margin-bottom: 3%;
    padding-right: 3%;

}

.controlled{
    margin-left: 5%;
}

.info h1{
    margin-top: 4%;
    margin-bottom: 0%;
    margin-left: 0%;
    color: #fff;
}

.navbar li a, .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: rgba(4, 66, 47, 0.53);
    color: #f4dabf !important;
}
.navbar-default .navbar-toggle {
    border-bottom: solid;
    border-color: transparent;
    color: #fff !important;
    background-color: rgba(66, 66, 65, 0.53)
}
.container-fluid.about .row{
    padding: 4%;
}

.row.slideanim{
    padding-bottom: 4%!important;
}

.bg-grey{
    margin: 5% 0 5% 0;
}

.contaier-fluid.bg-grey{
    padding-bottom: 5%;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
    color: #2b669a!important;
    font-size: 60px!important;
}
.carousel-indicators{
    background-color: rgba(60, 60, 60, 0.39);
    border-radius: 5px;
}


.footer{
    height: 5%;
    padding: 2%;
    background-color: #3c3c3c;
    color: #c5c5c5;
    box-shadow: 0 0 5px #3c3c3c;
}

.adv-row{
    margin-top: 8%;
    margin-bottom: 3%;
}

.selectpicker{
    float: right;
}

.contact-info{
    background-image: url("../img/buhg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-color: #cccccc;
    border-width: 2px;
}

#calc{
    margin: 5%;
    width: 40%;
    height: auto;
    float: right;
}

.box.g h5{
    width: 80%;
}

.hs{
    border-bottom: 2px solid #8a8a89;
    font-weight: normal;
    margin-top: 5%;
    padding-bottom: 14px
}

.info p{
    font-size: 18px;
    color: white;
    padding-top: 5%;
}

.right-col h5,h3{
    color: white;

}

.cnt{
    margin-top: 15%;
}

.contact{
    margin-top: -2%;
    padding-top: 1%;
    background-color: white;
    padding-bottom: 5%;
    margin-bottom: 8%;
}

.contact h2{
    color: rgba(0, 77, 139, 0.86);
    font-size: 32px;
    padding-bottom: 16px;
    border-bottom: 4px solid rgba(0, 77, 139, 0.86);
    border-spacing: 12px;
}

#portfolio h2{
    margin-bottom: 6%;
}

.comb{
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
    font-size: 21px;
}

.comb li{
    margin-top: 4%;
    margin-bottom: 4%;
    color: #fff;
}

.comb h3{
    color: white;
    font-size: 35px;
    padding-bottom: 2%;
    border-bottom: 3px solid #89b8ce;
    margin-bottom: 10%;
}

#portfolio{
    padding-left: 5%;
    padding-right: 5%;
}

#contact{

}

.contact2{
    margin-top: -2%;
    background-image: url("../img/pejz.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    background-color: rgba(66, 66, 65, 0.53) !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.logo-small{
    font-size: 80px !important;
}
.g{

}

.jumbotron p{
    font-size: 20px;
    color: #c6c6c6;
}

.box{
    background-color: #c0c0c0;
    box-shadow: 0 0 10px #3c3c3c;
    border-radius: 20px;
    padding: 2%;
}

.box.g {
    padding-left: 4%;
    padding-right: 4%;
}

.min-row{
    padding-bottom: 0%!important;
}

.aac .col-sm-8{
    margin-top: 45%;
    margin-bottom: 20%;
}



.centered{

}

.bg_yel{
    background-color: white;
    margin-right: 0%!important;
    padding-top: 8%;
    padding-bottom: 6%!important;
}



.main-info{
    background-image: url("../img/main-info.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    padding-left: 0%;

}
.fact{
    background-color: #dbe4e9;
    padding-right: 0%;
}

.aac{
    height: 100%;
    background-color: rgba(26, 86, 139, 0.69);
    padding-top: 5%;
    padding-bottom: 20%;
}

.right-spaced{
    color: #010102;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 5px;
}

.right-spaced p{
    margin: 4%;
    text-align: center;
    font-size: 21px;
    letter-spacing: 2px;
}

.large-box{
    margin-bottom: 5%;
}

.glyphicon{
    font-size:  120px;
    color: rgba(26, 86, 139, 0.69);

}




.about{
    background-color: #e7e7e7;
}

.side-log{
    padding-left: 20%;
}

.jumbotron {
    background-color: #404041;
    color: #fff;
    padding: 65px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
}

.container-fluid.contact p{
    margin-left: 12%;
    color: #0f0f0f;
    font-size: 16px;
}



.blue{
    background-color: rgb(26, 86, 139);
}

.container.contact{
    margin-top: -2%;
    box-shadow: 0 0 10px 0#3c3c3c;
    font-family: Montserrat, sans-serif;

}

.info{
    margin-bottom: 10%;
    padding-right: 25%;
    padding-left: 25%;
}

.col-sm-12 p{
    text-align: center;
}

p{
    color: #283870;
}

.row.slideanim p{
    padding-left: 10%;
    padding-right: 15%;
}

.unactive{
    display: none;
}



.container-fluid{
    padding: 0%!important;

}

.row.myalign-left p{
    text-align: right ; !important
}

.glyphicon.glyphicon-tag{
    font-size: 18px;
    color: #19b9ff;
}

.centered .row{
    margin-top: 30%;
    margin-left: 12%;
}

.centered h2, .centered p{
    font-size: 38px;
    color: #0d528b;
    text-align: left;
    margin-bottom: 2%;
}

.aac h2{
    color: white;
    text-shadow: #1a568b;
    font-size: 41px;
    margin-bottom: 5%;
    font-family: Arial, sans-serif;
}

.aac h4{
    text-align: left;
    font-size: 18px;
}

.aac .row{
    margin-top: 10%;
    margin-right: 0%;
}

.aac p{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 21px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-weight: 600;
    margin-bottom: 30px;
}

.controlled > h3{
    color: white;
    font-size: 35px;
    padding-bottom: 2%;
    border-bottom: 3px solid #89b8ce;
}

h3{
    color: #fff;
    font-size: 24px;
    margin-left: 3%;
    margin-bottom: 2%;
}

h4{
    text-align: center;
    font-size: 24px;
    color: #3c3c3c;

}

.itemList{
    padding-bottom: 2%;
}

.itemList h5{
    padding: 0%!important;
    margin: 0%!important;
}

h5 {
    font-size: 19px;
    line-height: 1.375em;
    color: #424241;
    font-weight: 400;

}

.form-control{
    margin: 9px;
}

.right ,.left{
    background: none!important;
}

#myCarousel{
    z-index: -10;
    margin-top: -2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 10%;
    background-image: url("../img/pejz.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.ats{
    padding-top: 5%;
    color: #f8f9ff;
    letter-spacing: 2px;
}

.col-sm-5 .img-rounded{
    margin-left: 15%;
    margin-top: -10%;
    width: 45%;
    height: 380px;
}

.award{
    color: #ffcc5e;
}

.slideanim {visibility:hidden;}
.handled{visibility: hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.portfolio-block .text-center{
    padding-left: 0%!important;
}

.show{
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.portfolio-block{
    border-style: solid;
    border-color: #cccccc;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes show {

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .img-rounded{
        display: none;
    }
    .glyphicon-question-sign{
        display: none;
    }
    .myr, .myl{
        width: 100%!important;
        height: 100%!important;
    }

    #myCarousel{
        display: none;
    }

}



.languagepicker {
    background-color:transparent;
    display: inline-block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 5px 50px 10px 10px;
    vertical-align: top;
    float: right;
    border-color: #cccccc;
    border-radius: 5px;
}

.languagepicker:hover {
    /* don't forget the 1px border */
    background-color: transparent;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    border-bottom: 1px solid #EEE;
    background-color: transparent;
}

.languagepicker li:hover{
    background-color: rgba(245, 245, 220, 0.25);
}

.languagepicker a:first-child li {
    border: none;
    background: transparent !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}

.large:hover {
    /*
    don't forget the 1px border!
    The first language is 40px heigh,
    the others are 41px
    */
    height: 245px;
}
